attrs
certifi
charset-normalizer
chromedriver-autoinstaller
h11
idna
outcome
packaging
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
undetected-chromedriver
urllib3
websocket-client
websockets
wsproto
